{% extends 'base.html' %}

{% block title %} Articles - Create New {% endblock %}

{% block content %}
    <form action="{% url 'articles:create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create New">
    </form>
    <!-- {% if not is_created %}
        <form action="{% url 'articles:create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create New">
        </form>
    {% else %}
        <p>Your article was created successfully.</p>
        {{ article.id }}
        <a href="{% url 'articles:show' article.id %}">{{ article.title }}</a>
    {% endif %} -->

{% endblock %}

