<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>

        <form action="{% url 'articles:search' %}" method="get">
            <h3>Search for an article</h3>
            <input type="text" name="query">
            <input type="submit" value="Search">
        </form><br><br>
        {% block content %} {% endblock %}
    </body>
</html>